/* ========== Mobil ========== */
.ContainerFull_Edit {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 100%;
}

.Con_Form {
    background-color: #ffffffcb;
    border-radius: 10px;
    -webkit-box-shadow: 0px 9px 18px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 18px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 18px -1px rgba(0, 0, 0, 0.75);

    display: grid;
    grid-template:
        "Con_Search" auto
        "Con_Inputs" auto
        "Con_BTNEdit" 10%;

}

.Con_Search {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px 10px 0px 0px;

    height: 100%;
    gap: 10px;
}

.Con_Search>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

.Con_Search>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5px;

    margin-bottom: 10px;
}

.Con_Inputs {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

/* Botones  */
.Con_BTNEdit {
    display: flex;
    flex-direction: row;

    justify-content: center;
    margin: 10px 0px;
    gap: 5px;
}

#BTNDelete_Pro {
    width: 150px;
    height: 50px;

    background-color: #DC3545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

#BTNEdit_Pro {
    width: 150px;
    height: 50px;

    background-color: #28A745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

#BTN_EditRegresar {
    width: 100px;
    height: 40px;

    background-color: #6C757D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    color: white;

    margin-bottom: 5px;
    text-align: center;
}

#BTN_Buscar {
    width: 100px;
    height: 40px;

    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

/* CheckBox */
.Con_Check {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.Con_Check label {
    font-size: 18px;
}

#CB_Consumible {
    width: 20px;
    height: 20px;
}

/* Inputs */
#Input_EditSearch_Pro {
    width: 100%;
    height: 40px;
    border: 1px #ADB5BD solid;
    border-radius: 5px;
    font-size: 20px;
}

#Inputs_Edit_Pro {
    width: 95%;
    height: 40px;
    border: 1px #ADB5BD solid;
    border-radius: 5px;
    font-size: 20px;
}

#Input_EditDesc_Pro {
    width: 95%;
    height: 40px;
    border: 1px #ADB5BD solid;
    border-radius: 5px;
    font-size: 20px;

}


/*Quitar Margin al titulo y código*/
#NoMargin {
    margin: 0px;
    font-size: 38px;
    text-align: center;
}

#txtCode {
    margin: 0px;
    font-size: 20px;
    text-align: start;
}


#Edit_Font18 {
    font-size: 18px;
}

#EditIcon {
    display: none;
}

/* Toast Styles */
#EditToast {
    width: 100%;
    font-size: 18px;
}



/* ========== Desktop ========== */
@media (min-width: 900px) {
    .ContainerFull_Edit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0px;
    }

    .Con_Form {
        height: 80vh;
        width: 150vh;
        background-color: #ffffffcb;
        border-radius: 10px;


        -webkit-box-shadow: 0px 9px 18px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 9px 18px -1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 9px 18px -1px rgba(0, 0, 0, 0.75);

        display: grid;
        grid-template:
            "Con_Search" 10%
            "Con_Inputs" auto
            "Con_BTNEdit" 10%;

    }


    #EditForm>div:nth-child(1) {
        display: flex;
        flex-direction: row;

        background-color: white;
        border-radius: 10px 10px 0px 0px;
        height: auto;
    }

    .Con_Search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 10px 10px 0px 0px;

        padding: 10px 0px;
    }

    .Con_Search>div:nth-child(1) {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-left: 5px;
        gap: 10px;
    }

    .Con_Search>div:nth-child(2) {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-right: 5px;
        gap: 10px;
    }

    /*Quitar Margin al titulo y código*/
    #NoMargin {
        margin: 0px;
        font-size: 38px;
    }

    .Con_Inputs {
        display: flex;
        flex-direction: column;
        margin: 0px 10px;
    }

    .Con_Inputs>div:nth-child(1) {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .Con_Inputs>div:nth-child(2) {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .Con_Inputs>div:nth-child(3) {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .Con_Inputs>div:nth-child(4) {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .Con_Inputs>div:nth-child(5) {
        display: flex;
        flex-direction: row;
    }

    .Con_Check {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 30px;
    }

    .Con_Check label {
        font-size: 18px;
    }

    #CB_Consumible {
        width: 20px;
        height: 20px;
    }

    .Con_BTNEdit {
        display: flex;
        flex-direction: row;

        justify-content: end;
        gap: 10px;
        margin-right: 10px;
    }

    /* Botones  */
    #BTNDelete_Pro {
        width: 150px;
        height: 50px;

        background-color: #DC3545;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
        color: white;
    }

    #BTNEdit_Pro {
        width: 150px;
        height: 50px;

        background-color: #28A745;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
        color: white;
    }

    #BTN_EditRegresar {
        width: 100px;
        height: 40px;

        background-color: #6C757D;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
        color: white;

        margin-bottom: 5px;
    }

    /* Inputs */
    #Input_EditSearch_Pro {
        width: 500px;
        height: 40px;
        border: 1px #ADB5BD solid;
        border-radius: 5px;
        font-size: 20px;
    }

    #Inputs_Edit_Pro {
        width: 300px;
        height: 40px;
        border: 1px #ADB5BD solid;
        border-radius: 5px;
        font-size: 20px;
    }

    #Input_EditDesc_Pro {
        width: 637px;
        height: 40px;
        border: 1px #ADB5BD solid;
        border-radius: 5px;
        font-size: 20px;

    }

    #Edit_Font18 {
        font-size: 18px;
    }

    #EditIcon {
        display: block;
    }

    /* Toast Styles */
    #EditToast {
        font-size: 34px;
        width: max-content;
    }

}