/* ========== Mobil ========== */
.ContainerFull_Inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Contendedor Opciones */
.Con_Inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffffcb;
    border-radius: 10px;
    gap: 20px;

    padding: 15px 20px;
    -webkit-box-shadow: 0px 9px 18px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 18px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 18px -1px rgba(0,0,0,0.75);
}

.Con_Inicio > div {
    width: fit-content;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    background-color: white;
    border-radius: 10px;

    -webkit-box-shadow: 0px 9px 14px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 14px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 14px -5px rgba(0,0,0,0.75);
}


#InicioImg{
    width: 80px;
    height: 80px;

    margin: 10px 30px 0px 30px;
}

#BtnSalir{
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    background-color: #DC3545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}


/* ========== Tablet ========== */
@media (min-width: 600px) {
    
}

/* ========== Desktop ========== */
@media (min-width: 900px) {
    .ContainerFull_Inicio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: 100%;
    }


    html{
        font-weight: 600;
        font-size: 30px;
    }
    
    .Con_Inicio{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 150vh;
        background-color: #ffffffcb;
        border-radius: 10px;
    
        -webkit-box-shadow: 0px 9px 18px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 9px 18px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 9px 18px -1px rgba(0,0,0,0.75);
    
        gap: 150px;
    }
    
    .Con_Inicio > div {
        width: fit-content;
        height: fit-content;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    
        background-color: white;
        border-radius: 10px;
    
        -webkit-box-shadow: 0px 9px 14px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 9px 14px -5px rgba(0,0,0,0.75);
        box-shadow: 0px 9px 14px -5px rgba(0,0,0,0.75);
    }
    
    #InicioImg{
        width: 150px;
        height: 150px;
    
        margin: 10px 30px 0px 30px;
    }
    
    #BtnSalir{
        width: 150px;
        height: 50px;
        margin-bottom: 10px;
        background-color: #DC3545;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
        color: white;
    }
}