@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html{
    background-color: #039497;
    font-family: Inter;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#DoctorSVG{
    width: 400px;
    height: 400px;
}


/*===== Contenedor Completo Login =====*/

.Conteiner_Login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Con_Login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffcb;
    border-radius: 10px;

    height: 95%;

    -webkit-box-shadow: 0px 9px 18px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 18px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 18px -1px rgba(0,0,0,0.75);
}

/*===== Contenedor Formulario Login =====*/
.Form_Login{
    background-color: white;
    border-radius: 10px;

    width: 90%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    -webkit-box-shadow: 0px 9px 14px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 14px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 14px -5px rgba(0,0,0,0.75);
}

.Con_Login > div {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Con_Login > div:nth-child(1){
    display: none;
}

#LoginInput{
    width: 80%;
    height: 40px;
    border: 1px #ADB5BD solid;
    border-radius: 5px;
    font-size: 20px;

    margin: 15px 0px;
}

.Form_Login > h1{
    text-align: center;
    color: #039497;
    margin: 10px 0px;
}

#PDatos{
    text-align: center;
    margin-bottom: 30px;
}

#BtnLogin{
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #039497;
    color: white;
    font-size: 20px;
    cursor: pointer;

    margin: 20px 0px;
}

/* ========== Desktop ========== */
@media (min-width: 900px) {
    #DoctorSVG{
        width: 400px;
        height: 400px;
    }
    
    
    /*===== Contenedor Completo Login =====*/
    
    .Conteiner_Login{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    .Con_Login{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 150vh;
        background-color: #ffffffcb;
        border-radius: 10px;
    
        -webkit-box-shadow: 0px 9px 18px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 9px 18px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 9px 18px -1px rgba(0,0,0,0.75);
    }
    
    /*===== Contenedor Formulario Login =====*/
    .Form_Login{
        background-color: white;
        border-radius: 10px;
    
        width: calc(100% - 300px);
        height: fit-content;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        -webkit-box-shadow: 0px 9px 14px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 9px 14px -5px rgba(0,0,0,0.75);
        box-shadow: 0px 9px 14px -5px rgba(0,0,0,0.75);
    }
    
    .Con_Login > div {
        width: 100%;
        height: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .Con_Login > div:nth-child(1){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #LoginInput{
        width: 80%;
        height: 40px;
        border: 1px #ADB5BD solid;
        border-radius: 5px;
        font-size: 20px;
    
        margin: 15px 0px;
    }
    
    .Form_Login > h1{
        text-align: center;
        color: #039497;
        margin: 10px 0px;
    }
    
    #PDatos{
        text-align: center;
        margin-bottom: 30px;
    }
    
    #BtnLogin{
        width: 50%;
        height: 50px;
        border: none;
        border-radius: 5px;
        background-color: #039497;
        color: white;
        font-size: 20px;
        cursor: pointer;
    
        margin: 20px 0px;
    }
}